* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    min-height: 100vh;
}
.card {
    position: relative;
    width: 260px;
    height: 350px;
    border: 1px solid gray;
    overflow: hidden;
    border-radius: 20px;
}
.card .img {
    position: absolute;
    width: 100%;
    height: 190px;
}
.card .img img{
    position: absolute;
    top: 32%;
    left: 50%;
    width: 180px;
    height: 162px;
    transform: translate(-50%,-30%);
}
.card .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
    text-align: center;
}
.card .content .product_name {
    color: black;
    position: relative;
    height: 40px;
}
.card .content .price {
    color: red;
    font-weight: bold;
    height: 50px;
}