<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
</head>
<body>
<h1 style="text-align: center">Danh sách câu hỏi</h1>
<a th:href="@{/questions/create}" class="btn btn-primary">+ Tạo câu hỏi</a>
<p th:if="${mess}" th:text="${mess}"></p>
<table class="table table-hover">
    <tr>
        <th>STT</th>
        <th>Tiêu để</th>
        <th>Loại câu hỏi</th>
        <th>Ngày đăng</th>
        <th>Tình trạng</th>
        <th>Tính năng</th>
    </tr>
    <tr th:each="questionContent,count:${questionContents}">
        <td th:text="${count.count}"></td>
        <td th:text="${questionContent.title}"></td>
        <td th:text="${questionContent.questionType.getQuestionName()}"></td>
        <td th:text="${#temporals.format(questionContent.dateCreate, 'dd/MM/yyyy')}"></td>
        <td th:if="${questionContent.status == 0}" >Chờ phản hồi</td>
        <td th:if="${questionContent.status == 1}" >Đã phản hồi</td>
        <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    th:attr="onclick=|deleteQuestion('${questionContent.getIdQuestionContent()}','${questionContent.getTitle()}')|">
                Xóa
            </button>
            <a id="questionFindById" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1"
            th:attr="onclick=|questionId('${questionContent.getIdQuestionContent()}')|">
                Nội dung câu hỏi
            </a>
        </td>
    </tr>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/questions/delete" method="get">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idQuestion" name="id">
                <span>Bạn có muốn xóa tiêu đề <span id="title"></span> này không?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Delete</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->

<a th:if="${questionContents.hasPrevious()}" th:href="@{/questions(page=${questionContents.number-1})}">Previous</a>
<span th:text="${questionContents.number+1}"></span>/ <span th:text="${questionContents.totalPages}"></span>
<a th:if="${questionContents.hasNext()}" th:href="@{/questions(page=${questionContents.number+1})}">Next</a>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script>
    function deleteQuestion(id,title) {
        document.getElementById("idQuestion").value=id;
        document.getElementById("title").innerText=title;
    }
</script>

<script>
    let questionID;
    function questionId(id) {
        questionID = id;
    }
    $(document).ready(() => {
        $("#questionFindById").click( () => {
            QuestionFindById(questionID);
        })
        function QuestionFindById(id) {
            $.ajax({
                contentType: "application/json",
                method: "GET",
                url: `http://localhost:8080/api/questions/${id}`,
                success: function (data) {
                    console.log(data)
                    let content=`                    <table>\n` +
                        `                        <tr>\n` +
                        `                            <td>Tiêu đề: </td>\n` +
                        `                            <td>${data.title}</td>\n` +
                        `                        </tr>\n` +
                        `                        <tr>\n` +
                        `                            <td>Loại câu hỏi: </td>\n` +
                        `                            <td>${data.questionType.questionName}</td>\n` +
                        `                        </tr>\n` +
                        `                        <tr>\n` +
                        `                            <td>Ngày đăng: </td>\n` +
                        `                            <td>${data.dateCreate}</td>\n` +
                        `                        </tr>\n` +
                        `                        <tr>\n` +
                        `                            <td>Tình trạng: </td>\n` +
                        `                            <td>${data.status}</td>\n` +
                        `                        </tr>\n` +
                        `                    </table>`
                    $(".question").html(content);
                }
            })
        }
    })
</script>
</html>

